matplotlib
tensorflow
numpy
argparse
pandas
requests
geopandas
scipy
seaborn
wget
shapely
osmnx==1.0.1
opencv-python
tqdm
tensorboard
tensorboardX
webcolors
pycocotools  
pyyaml
torch
torchvision
yacs
Pillow
python-csv
sklearn






