six
h5py~=2.10.0
matplotlib
tensorflow>=2.4.1
numpy
argparse
pandas
requests
geopandas
scipy
seaborn
wget
shapely
osmnx==1.0.1
opencv-python
tqdm
tensorboard
tensorboardX
webcolors
pycocotools  
pyyaml
torch
torchvision
yacs
Pillow
python-csv
sklearn






