matplotlib
tensorflow
numpy
argparse
pandas
requests
geopandas
scipy
seaborn
wget
shapely
osmnx==1.0.1
opencv-python
tqdm
tensorboard
tensorboardX
webcolors
pycocotools  
pascal_voc_writer
pyyaml
xmltodict
torch==1.4.0
torchvision==0.5.0
yacs
Pillow
python-csv
sklearn






