sphinx==4.1.1
sphinx_rtd_theme==0.5.2
sphinx-csv-filter
sphinxcontrib-bibtex==2.3.0
sphinx-jsonschema
sphinxcontrib-images
numpydoc
rendre>0.0.14
sphinx_panels
jsonpath2
sphinxcontrib.spelling==7.2.1
sphinx_toolbox
