wy-nav-content {
    max-width: none;
}


.math {
    text-align: left;
}

.eqno {
    float: right;
}


#div.wy-side-scroll{
#	background:#cb463f;
#}

div.wy-menu.wy-menu-vertical > .caption {
	 color: #cb463f;
}

# LIGHT BLUE  background:#0099ff
# BLUE: background:#0B619C
# ADAM RED: background:#cb463f;

span.caption.caption-text{
	color: #000000;
}

td{
	white-space: normal !important;
}

div.wy-side-nav-search {
    background: #F2F2F2
}

div.wy-nav-content {
    max-width: 100%
}

